<div class="wrapper h-100">
	<nav class="navbar navbar-expand-lg fixed-top navbar-transition" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{site.url}}" rel="home">
			    <img src="https://boombit.agency/wp-content/uploads/2021/08/boombit-logo-light.svg" class="d-inline-block align-text-top logo" alt="Boombit">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</div>
		</div>
	</nav>
</div>
